{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <h1>Сокращение ссылок</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.originalUrl, null, {
                'label_attr': {'class': 'label_form'}
            }) }}
            {{ form_widget(form.originalUrl, {
                'attr': {'class': 'input_text'}
            }) }}
            {{ form_errors(form.originalUrl) }}
        </div>


        <div class="form-check">
            {{ form_label(form.disposable, null, {
                'label_attr': {'class': 'form-check-label label_form'}
            }) }}
            {{ form_widget(form.disposable, {
                'attr': {'class': 'form-check-input'}
            }) }}
        </div>


        <div class="form-date">
            {{ form_widget(form.expirationDate) }}
            {{ form_errors(form.expirationDate) }}
        </div>

    {#  {{ form_row(form.expirationDate) }} #}
        <button type="submit">Сократить</button>
    {{ form_end(form) }}

    <form action="{{ path('all_links_page') }}" method="GET">
        <button type="submit">Показать все ссылки</button>
    </form>

    {% if shortUrl %}
    <div class="result">
        <strong>Короткая ссылка:</strong><br>
        <a href="{{ shortUrl }}">{{ shortUrl }}</a>
    </div>
    {% endif %}
</div>

{% endblock %}

